<nav>
    <a href="https://webpages.uncc.edu/tnguy278">Charlotte.edu</a>
    
    <a href="https://github.com/thanhnguyen031">Github</a>
    
    <a href="https://github.com/thanhnguyen031/thanhnguyen031.github.io.git">Github.io</a>
    
    <a href="https://www.freecodecamp.org/Thanhn031">freeCodeCamp</a>
    
    <a href="https://www.codecademy.com/profiles/thanhn031">Codecademy</a>
    
    <a href="https://www.linkedin.com/in/thanh-nguyen-143a302b3/">LinkedIn</a>

    <a href="https://www.freecodecamp.org/certification/Thanhn031/responsive-web-design"> <i>Certified in Responsive Web Design</i></a>
    
</nav>   
<p>Page Built by <a href="binnynguyen.com/">Binny Nguyen</a>&copy;2025, <a href="https://www.freecodecamp.org/certification/Thanhn031/responsive-web-design">
    <i>Certified in Responsive Web Design</i></a></p> 

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img src="https://raw.githubusercontent.com/bradleytaunt/html5-valid-badge/refs/heads/master/html5-validator-badge.png" alt="Valid HTML 5" style="border:0;width:88px;height:31px;">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
 <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
  </a>
<a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/tnguy278/itis3135/">
    <img style="border:0;width:88px;height:31px" 
         src="https://www.w3.org/WAI/WCAG22/wcag2.2AAA.png" 
         alt="Accessibility Validation">
</a>