<h1>Thanh Nguyen 🦁 Tenacious Nightingale 🦁 ITIS 3135</h1>
  <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction </a>
        <a href="contract.html">Contract </a>
        <a href="tables.html">Tables </a>
        <a href="website_evaluations.html">Forms </a>
        <a href="scripts.html">Scripts </a>
        <a href="about.html">Whimsical Company</a>
        <a href="thanhnguyenstudio.com.html">Thanh Nguyen Studio</a>
    </nav>
    <nav>
      💢
      <a href="stuff/CRAPPYPAGE.html">CRAPPY</a>
      💢
  </nav>